<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (poste(); as posteRef) {
      <div>
        <h2 data-cy="posteDetailsHeading"><span jhiTranslate="jobCalsenApp.poste.detail.title">Poste</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ posteRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jobCalsenApp.poste.nomPoste">Nom Poste</span></dt>
          <dd>
            <span>{{ posteRef.nomPoste }}</span>
          </dd>
          <dt><span jhiTranslate="jobCalsenApp.poste.domaine">Domaine</span></dt>
          <dd>
            @if (poste()!.domaine) {
              <div>
                <a [routerLink]="['/domaine', poste()!.domaine?.id, 'view']">{{ posteRef.domaine?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/poste', posteRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
