@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";


app-candidat-header {
  position: relative;
  z-index: 1000;
}

app-candidat-sidebar {
  z-index: 999;
}